body {
    box-sizing: border-box;
}

.container {
    display: grid;
    width: 300px;
    height: 600px;
}

#weather {
    background-image: url(https://images.pexels.com/photos/6401654/pexels-photo-6401654.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: 300px 600px;
}


.logo {
    background-color: #1482C2;
    text-align: center;
    height: 50px;
    color: white;
    font-family: novecento-sans-narrow, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.2em;
}

h1 {
    font-family: droid-sans,sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #A8CA48;
    color: white;
    font-size: 1.7em;
    text-align: center;
    margin-top: 17em;
    height: 80px;
}

.icon {
    position: absolute;
    margin-top: -50px;
    margin-left: 45px;
}

h3 {
    background-color: #1482C2;
    color: white;
    font-family: novecento-sans-narrow, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    text-align: center;
    margin-top: -20px;
    height: 50px;
}
